node_modules/
*.csv
list*.pdf
!utils/seedDatabase/fillMunicipalities/data/plz-3-meinbge-user-promille.csv
utils/seedDatabase/createMunicipalityShareImages/municipalityImages
utils/seedDatabase/createMunicipalityShareImages/output
